.body{
    font-family: "Verdana", sans-serif;
    font-style: normal;
}
.my-navbar{
    background-color: #005954    ;   
    color: white;

    font-family: "Verdana", sans-serif;
    font-weight: 300;
    font-style: normal;
    
} 

.my-navbar-brand{
    text-decoration: none;
    font-family: "Verdana", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.my-footer{
    text-align: center;
    background-color: #005954    ;   
    color: white;
}

.my-footer-title{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;    
}

.img{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.h1{
    color:#7d7d7d;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
}
.h2{
    color:#7d7d7d;
    margin-top: 10px;
    margin-left: 10px;
}
.h3{
    color:#7d7d7d;
    margin-top: 10px;
    margin-left: 10px;
}
p{
    margin-left: 5px;    
}

.table{
    font-weight: 200;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 20px;

    text-align: center;
    vertical-align: center;
    border-collapse: collapse;
}